{% extends 'layout.html' %}

{% block content %}

<div id="contentWrapper">
  <div id="map"></div>

  <div class="right-sidepanel">

    <div class="panel panel-default">
      
      <div class="panel-heading">
        <h1 class="panel-title">Add Destinations</h1>
      </div>

      <form>
        <div class="form-group">

          <label for="hotels">Hotels:</label><br>
          <select name="hotels" class="form-control">
            {% if all_hotels %}
              {% for hotel in all_hotels %}
                <option value="{{hotel.name}}">{{hotel.name}}</option>
              {% endfor %}
            {% endif %}
          </select>
          <div><button class="btn btn-success btn-circle">+</button></div>
        </div>

        <div class="form-group">
          <label for="restaurants">Restaurants:</label><br>
          <select name="restaurants" class="form-control">
            {% if all_restaurants %}
              {% for restaurant in all_restaurants %}
                <option value="{{restaurant.name}}">{{restaurant.name}}</option>
              {% endfor %}
            {% endif %}
          </select>
          <div><button class="btn btn-success btn-circle">+</button></div>
        </div>

        <div class="form-group">
          <label for="activities">Activities:</label><br>
          <select name="activities" class="form-control">
            {% if all_activities %}
              {% for activities in all_activities %}
                <option value="{{activities.name}}">{{activities.name}}</option>
              {% endfor %}
            {% endif %}
          </select>
          <div><button class="btn btn-success btn-circle">+</button></div>
        </div>

      </form>

    </div>

  </div>

</div>

{% endblock %}
