{% extends 'layout.html' %}

{% block content %}

<div>
  
  <form>
    <div class="form-group">

      <label for="hotels">Hotels:</label>
      <select name="hotels" class="form-control">

        {% if all_hotels %}
          {% for hotel in all_hotels %}
            <option value="{{hotel.name}}">{{hotel.name}}</option>
          {% endfor %}
        {% endif %}

      </select>
    </div>

    <div class="form-group">
      <label for="restaurants">Restaurants:</label>
      <select name="restaurants" class="form-control">

        {% if all_restaurants %}
          {% for restaurant in all_restaurants %}
            <option value="{{restaurant.name}}">{{restaurant.name}}</option>
          {% endfor %}
        {% endif %}

      </select>
    </div>

    <div class="form-group">
      <label for="activities">Activities:</label>
      <select name="activities" class="form-control">

        {% if all_activities %}
          {% for activities in all_activities %}
            <option value="{{activities.name}}">{{activities.name}}</option>
          {% endfor %}
        {% endif %}

      </select>
    </div>

  </form>

</div>

{% endblock %}
