@import "info-window";
@import "navbar";
@import "right-sidepanel";

body {
  padding-top: 60px;
}

html, body { height: 100%; margin: 0; }


#contentWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
  width: 50%;
  flex-grow: 3;
}




